/**
 * @name Translucence
 * @version 1
 * @description A translucent/frosted glass Discord theme
 * @author Zero-Ideas
 *
 * @website http://github.com/Zero-Ideas
 * @source https://raw.githubusercontent.com/Zero-Ideas/themes/refs/heads/main/custom_translucence_src.css
 */

@import url(https://raw.githubusercontent.com/Zero-Ideas/themes/refs/heads/main/custom_translucence_src.css);

:root {
	/* APP ELEMENTS */
	--app-bg: url(https://img.freepik.com/premium-photo/meteor-shower-wallpaper_1134901-203177.jpg);
	--app-blur: 5px;
	--app-margin: 0px;
	--app-radius: 8px;

	/* ACCENT HSL AND TEXT COLOR SETTINGS */
	--accent-hue: 250;
	--accent-saturation: 20%;
	--accent-lightness: 40.1%;
	--accent-opacity: .8;
	--accent-text-color: hsl(0, 0%, 100%);

	/* SIDEBARS AND CHAT AREA COLOR SETTINGS */
	--sidebar-color: hsl(0,0%,0%,0.673);
	--main-content-color: hsl(0,0%,0%,0.6);

	/* MESSAGE SETTINGS */
	--message-color: hsl(0,0%,0%,0.167);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px;

	/* REPLY HSL COLOR SETTINGS */
	--reply-hue: 226;
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1;

	/* TEXTAREA SETTINGS */
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.6;
	--textarea-text-color: hsla(0, 0%, 100%, 0.9);
	--textarea-radius: 22px;

	/* CARD SETTINGS */
	--card-color: hsl(0,0%,0%,0.3);
	--card-color-hover: hsl(0,0%,0%,0.5);
	--card-color-select: hsl(0,0%,0%,0.7);

	/* BUTTON SETTINGS */
	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: hsl(0,0%,0%,0.4);
	--button-radius: 16px;
}

@supports (color:color-mix(in lch,red,blue)) {
    .visual-refresh .theme-dark,
    .visual-refresh.theme-dark {
		/* TEXT COLOR SETTINGS */
		--text-primary: hsl(0,0%,100%);
		--text-secondary: hsl(0,0%,77%);

		/* CHANNEL COLOR SETTINGS */
		--channels-default: hsl(0,0%,62%);
		--channel-icon: hsl(0,0%,62%);

		/* ICON COLOR SETTINGS */
		--icon-primary: hsl(0,0%,96%);
		--icon-secondary: hsl(0,0%,84%);
		--icon-tertiary: hsl(0,0%,71%);

		/* INTERACTIVE COLOR SETTINGS */
		--interactive-normal: hsl(0,0%,79%);
		--interactive-hover: hsl(0,0%,91%);
		--interactive-active: hsl(0,0%,100%);
		--interactive-muted: hsl(0,0%,43%);

		/* BACKGROUND MODIFIER SETTINGS */
		--background-modifier-hover: hsl(0,0%,100%,0.3);
		--background-modifier-selected: hsl(0,0%,100%,0.5);
    }
}
